body {
background: linear-gradient( rgb(254, 64, 64),rgba(255, 255, 255, 0.937),rgb(113, 113, 255) ) ;
background-repeat: no-repeat;
background-attachment: fixed;
}
a:link{
    color: red;
}

p { font-size: 19px;}
li {font-size: 17px; }
body {font-family: 'Times New Roman';}
    